* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #5d3800;
}

.face {
  position: relative;
  width: 18.75rem;
  height: 18.75rem;
  border-radius: 50%;
  background: #ffcd00;
  display: flex;
  justify-content: center;
  align-items: center;
}

.face::before {
  content: "";
  position: absolute;
  top: 1.125rem;
  width: 9.375rem;
  height: 4.375rem;
  background: #b57700;
  border-bottom-left-radius: 4.375rem;
  border-bottom-right-radius: 4.375rem;
  transition: 0.5s;
}

.face:hover::before {
  top: 13.125rem;
  width: 9.375rem;
  height: 1.25rem;
  background: #b57700;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.eyes {
  position: relative;
  top: -2.5rem;
  display: flex;
}

.eyes .eye {
  position: relative;
  width: 5rem;
  height: 5rem;
  display: block;
  background: #fff;
  margin: 0 0.9375rem;
  border-radius: 50%;
}

.eyes .eye::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 1.5625rem;
  transform: translate(-50%, -50%);
  width: 2.5rem;
  height: 2.5rem;
  background: #333;
  border-radius: 50%;
}